.filter-bar {
    background-color: #F0F2F5;
    padding: 15px 20px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.filters {
    display: inline-flex;
    flex-grow: 1;
    align-items: center;
}

.search-bar {
    display: inline-flex;
    position: relative;
}

.search-bar .fa-search {
    vertical-align: middle;
    position: absolute;
    left: 10px;
    top: 10px;
    color: #96A3B6;
}

.search-bar input {
    padding: 10px 10px 10px 30px;
}

.date-filter {
    padding: 10px;
    width: 140px;
    border: 1px solid #DEE3EC;
}
